# Python Basics

How we define variables?

In [1]:
from answ import *

In [2]:
x = 2
y = 5.
xy= 'Hey'

In [3]:
x, y, xy = 2, 5, 'Hey'

In [4]:
a = b = c = 1

#### Syntax

- Lines and Indentation

   Python provides no braces to indicate blocks of code for class and function definitions or flow control. Blocks of code are denoted by line indentation, which is rigidly enforced.

   The number of spaces in the indentation is variable, but all statements within the block must be indented the same amount. For example

In [5]:
if True:
    print("True")
else:
    print("False")

True

- Multi-Line Statements

 Statements in Python typically end with a new line. Python does, however, allow the use of the line continuation character (\) to denote that the line should continue. For example:

In [6]:
total = 1 + \
        2 + \
        3
total

6

- Comments in Python

A hash sign (#) that is not inside a string literal begins a comment.

### Exercicies
Place a comment before a line of code that previously worked, and record what happens when you rerun the program.

In [7]:
#ex0()

- Multiple Statements on a Single Line

In [8]:
import sys; x = 'foo'; print(x + '\n')

foo

#### Standard Data Types
- Numbers: There are 3 different numerical types: int, float, complex

In [9]:
i = 2
f = 2.
c = 2. + 0.j

You can also delete the reference to a number object by using the del statement.

In [10]:
del i,f,c

- Python Strings

In [11]:
m_str = 'Hello World!'

print (m_str)          # Prints complete string
print (m_str[0])       # Prints first character of the string
print (m_str[2:5])     # Prints characters starting from 3rd to 5th
print (m_str[2:])      # Prints string starting from 3rd character
print (m_str[-3:])     # Prints string starting from 3rd character from the end
print (m_str * 2)      # Prints string two times
print (m_str + "TEST") # Prints concatenated string
print (m_str.split(' ')) # Print a list of words

Hello World!
H
llo
llo World!
ld!
Hello World!Hello World!
Hello World!TEST
['Hello', 'World!']

some string methods

In [12]:
m_str.lower()

'hello world!'

In [13]:
m_str.upper()

'HELLO WORLD!'

In [14]:
m_str.capitalize()

'Hello world!'

In [15]:
m_str.replace('l','m')

'Hemmo Wormd!'

To see more functions and classes inside the strings class, you can look at the official docs, https://docs.python.org/3.6/library/index.html or as always, when you need something you can google it and look at https://stackoverflow.com/ answers.

- Python Lists

In [16]:
m_list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]

print (m_list)          # Prints complete list
print (m_list[0])       # Prints first element of the list
print (m_list[1:3])     # Prints elements starting from 2nd till 3rd 
print (m_list[2:])      # Prints elements starting from 3rd element
print (m_list * 2)      # Prints list two times
print (m_list + m_list) # Prints concatenated lists

m_list.append(5)
print (m_list)          # Prints list with the new element

['abcd', 786, 2.23, 'john', 70.2]
abcd
[786, 2.23]
[2.23, 'john', 70.2]
['abcd', 786, 2.23, 'john', 70.2, 'abcd', 786, 2.23, 'john', 70.2]
['abcd', 786, 2.23, 'john', 70.2, 'abcd', 786, 2.23, 'john', 70.2]
['abcd', 786, 2.23, 'john', 70.2, 5]

- Python Tuples

In [17]:
m_tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )

print (m_tuple)           # Prints complete tuple
print (m_tuple[0])        # Prints first element of the tuple
print (m_tuple[1:3])      # Prints elements starting from 2nd till 3rd 
print (m_tuple[2:])       # Prints elements starting from 3rd element
print (m_tuple * 2)       # Prints tuple two times
print (m_tuple + m_tuple) # Prints concatenated tuple

('abcd', 786, 2.23, 'john', 70.2)
abcd
(786, 2.23)
(2.23, 'john', 70.2)
('abcd', 786, 2.23, 'john', 70.2, 'abcd', 786, 2.23, 'john', 70.2)
('abcd', 786, 2.23, 'john', 70.2, 'abcd', 786, 2.23, 'john', 70.2)

- Python Dictionary

In [18]:
m_dict = {}
m_dict['one'] = "This is one"
m_dict[2]     = "This is two"

m_dict_2 = {'name': 'john','code':6734, 'dept': 'sales'}

print (m_dict['one'])     # Prints value for 'one' key
print (m_dict[2])         # Prints value for 2 key
print (m_dict_2)          # Prints complete dictionary
print (m_dict_2.keys())   # Prints all the keys
print (m_dict_2.values()) # Prints all the values

This is one
This is two
{'name': 'john', 'code': 6734, 'dept': 'sales'}
dict_keys(['name', 'code', 'dept'])
dict_values(['john', 6734, 'sales'])

#### Data Type Conversion

Sometimes, you may need to perform conversions between the built-in types. To convert between types, you simply use the type-names as a function.

There are several built-in functions to perform conversion from one data type to another. These functions return a new object representing the converted value.

In [19]:
int, float, str, tuple, list, set, dict,

(int, float, str, tuple, list, set, dict)

If you are not sure what class a value falls into, Python has a function called type which can tell you.

In [20]:
type(1), type(1.), type("1"), type((1.,))

(int, float, str, tuple)

### Exercicies
1. Take the sentence: *Hello World*. Store each word in a separate variable, then print out the sentence on one line using print.

In [21]:
#ex1()

#### Operators

Python language supports the following types of operators.

* Arithmetic Operators
* Comparison (Relational) Operators
* Assignment Operators
* Logical Operators
* Bitwise Operators
* Membership Operators
* Identity Operators

We are going to show the operations between floats and Booleans, but each type of data has his own operators, as we have seen the if we add two lists the result is the concated list.

https://www.tutorialspoint.com/python/python_basic_operators.htm

In [22]:
# Python Arithmetic Operators"
x, y = 2, 5
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(y%x)
print(x**y)
print(x//y)

7
-3
10
0.4
1
32
0

In [23]:
# Python Comparison Operators
x, y = 2, 5
print(x==y)
print(x!=y)
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)

False
True
False
True
False
True

In [24]:
# Python Assignment Operators
x, y = 2, 5
x = 5; print(x)
x += 5; print(x)
x -= 5; print(x)
x *= 5; print(x)
x /= 2; print(x)
x %= 5; print(x)
x **= 5; print(x)
x //= 5; print(x)

5
10
5
25
12.5
2.5
97.65625
19.0

In [25]:
# Python Logical Operators

a = True
b = False

print(a and b)
print(a or b)
print(not a)

False
True
False

In [26]:
# Python Membership Operators

x = 5
lx = [1,2,3,4,5,6,7]

print(x in lx)
print(x not in lx)

True
False

In [27]:
# Python Identity Operators

x, y = 1., 1.
print(x is y)

y = x
print(x is y)

True
True

The Bitwise Operators will be seen in the lesson number 2 in the pandas library section

### Exercices
2. Add parenthesis to the expression 6 * 1 - 2 to change its value from 4 to -6.

In [28]:
#ex2()

3. Eval bruce + 4 at the prompt. This will give you an error:
 
 `NameError: name 'bruce' is not defined`
 
 Assign a value to bruce so that bruce + 4 evaluates to 10.

In [29]:
#ex3()

#### Conditional execution
There are 3 reserved words in order to implement the conditional executions: `if`, `else`, `elif`

In [30]:
if True:
    print("If statement is True")

If statement is True

In [31]:
if False:
    print("If statement is True")  
else: 
    print("If statement is False")

If statement is False

In [32]:
if False:
    print("If statement is True") 
elif False:
    print("This is the first True statement 1")
elif True:
    print("This is the first True statement 2")
else: 
    print("All the previous statement are False")

This is the first True statement 2

Statements can be boolean variables, the result of comparison operation or it can be any variable that has the implemented the boolena cast for example `int`

In [33]:
if 0:
    print("0 is True")
else:
    print("0 is False")

0 is False

Conditional statements can be nested, take care of the indents.

In [34]:
if True:
    if True:
        if True:
            if True:
                print("all True")

all True

#### Loops

There are 2 different loops: `for`, `while`. We will see the `continue`, `pass` and `break`

In [35]:
for i in [0,1,2,3,4]:
    print(i)

0
1
2
3
4

In [36]:
for i in range(5):
    print(i)

0
1
2
3
4

In [37]:
for i in range(5): print(i)

0
1
2
3
4

In [38]:
[print(i) for i in range(5)];

0
1
2
3
4

In [39]:
for i in range(5):
    if i != 3:
        print(i)

0
1
2
4

In [40]:
for i in range(5):
    if i == 3:
        continue
    print(i)

0
1
2
4

In [41]:
for i in range(5):
    if i == 3:
        pass
    print(i)

0
1
2
3
4

In [42]:
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

In [43]:
for c in 'string is a list of chars': print(c)

s
t
r
i
n
g

i
s

a

l
i
s
t

o
f

c
h
a
r
s

In [44]:
for i,c in enumerate('string is a list of chars'): print(i,c)

0 s
1 t
2 r
3 i
4 n
5 g
6
7 i
8 s
9
10 a
11
12 l
13 i
14 s
15 t
16
17 o
18 f
19
20 c
21 h
22 a
23 r
24 s

In [45]:
counter = 0
for i in range(100): counter += i**2
counter

328350

In [46]:
# list version
sum([i**2 for i in range(100)])

328350

In [47]:
counter = 0
for i in range(100): 
    if i%2:
        counter += i**2
counter

166650

In [48]:
# list version
sum([i**2 for i in range(100) if i%2])

166650

In [49]:
i = 0
while i < 5:
    print(i)
    i+=1

0
1
2
3
4

In [50]:
## error you have to update i before continue
#i = 0
#while i < 5:
#    if i == 3:
#        continue
#    print(i)
#    i+=1

In [51]:
i = 0
while i < 5:
    if i == 3:
        pass
    print(i)
    i+=1

0
1
2
3
4

In [52]:
i = 0
while i < 5:
    if i == 3:
        break
    print(i)
    i+=1

0
1
2

# Exercicies
4. Counting the number of a’s in this sentence: 'The rain in Spain falls mainly in the plain.'

In [53]:
#ex4()

In [54]:
#ex4b()

5. Write a command that prints out each number from 2 to 20 and writes whether the number is divisible by 2 or 3, both, or neither.

In [55]:
#ex5()

In [56]:
#ex5b()

#### Functions

$f(x) = 3x^2 - 2x +5$

In [57]:
def f(x):
    return 3 * x ** 2 - 2 * x + 5

In [58]:
f(0), f(1), f(-3)

(5, 6, 38)

In [59]:
f2 = lambda x: 3 * x ** 2 - 2 * x + 5

In [60]:
f2(0), f2(1), f2(-3)

(5, 6, 38)

In [61]:
def f():
    return

In [62]:
def do_nothing_useful(n, m):
    x = n + m
    y = n - m

In [63]:
do_nothing_useful(1,2)

In [64]:
def do_something_useful(n, m):
    x = n + m
    y = n - m
    return x,y

In [65]:
do_something_useful(1,2)

(3, -1)

In [66]:
def f1(x):
    return 1 * x ** 2
def f2(x):
    return 2 * x ** 2
def f3(x):
    return 3 * x ** 2

lf = [f1,f2,f3]

[f(2) for f in lf]

[4, 8, 12]

#### Exercices
6. Write a compare function that returns 1 if a > b, 0 if a == b, and -1 if a < b

In [67]:
#ex6()

7. Use incremental development to write a function called hypotenuse that returns the length of the hypotenuse of a right triangle given the lengths of the two legs as parameters. Record each stage of the incremental development process as you go.

In [68]:
#ex7()

8. Write a function slope(x1, y1, x2, y2) that returns the slope of the line through the points (x1, y1) and (x2, y2)

In [69]:
#ex8()

9. Write a function called is_even(n) that takes an integer as an argument and returns True if the argument is an even number and False if it is odd.

In [70]:
#ex9()

### modules

A module is a file containing Python definitions and statements intended for use in other Python programs. There are many Python modules that come with Python as part of the standard library. We have seen two of these already, the doctest module and the string module.

In [71]:
import string

In [72]:
string.capwords("hello")

'Hello'

In [73]:
from string import capwords

In [74]:
capwords("hello")

'Hello'

### Classes and objects

In [75]:
class Bankaccount: 
    def __init__(self): 
        self.balance=0
        print("Hello!!!Welcome to Deposit&Withdrawl Machine") 

    def deposit(self): 
        amount=float(input("Enter amount to be Deposited: ")) 
        self.balance += amount 
        print("\n Amount Deposited:",amount) 

    def withdraw(self): 
        amount = float(input("Enter amount to be Withdrawed: ")) 
        if self.balance>=amount: 
            self.balance-=amount 
            print("\n You Withdrawed:", amount) 
        else: 
            print("\n Insufficient balance ") 

    def display(self): 
        print("\n Net Available Balance=",self.balance)

In [76]:
# creating an object of class 
s = Bankaccount()

Hello!!!Welcome to Deposit&Withdrawl Machine

In [77]:
# Calling functions with that class object 
s.deposit() 
s.withdraw() 
s.display()

Enter amount to be Deposited: 25

 Amount Deposited: 25.0
Enter amount to be Withdrawed: 24

 You Withdrawed: 24.0

 Net Available Balance= 1.0

In [78]:
class Depositaccount(Bankaccount): 
    def __init__(self): 
        self.balance = 0
        print("Hello!!!Welcome to Deposit Machine")
        
    def withdraw(self): 
        print("\n This account can not do withdraw")

In [79]:
# creating an object of class 
s = Depositaccount()

Hello!!!Welcome to Deposit Machine

In [80]:
# Calling functions with that class object 
s.deposit() 
s.withdraw() 
s.display()

Enter amount to be Deposited: 100

 Amount Deposited: 100.0

 This account can not do withdraw

 Net Available Balance= 100.0

## read and write files

In [81]:
f = open("test.txt", "w")
f.write("test write")
f.close()

With the `with` statement the file is closed automatically

In [82]:
with open("test.txt", "r") as f:
    content = f.read()
content

'test write'

As a datascience in the majority of the casses we will use some library to read/write the data, one of the common ones is pandas, we will see it in the following lesson.